/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*
  Typographic Grid Values
  base font-size (Georgia): 18px
  base font-size (Verdana): 15.85px (18 / 1.136)
  /* Ratio of Verdana to Georgia: 1.136
  base line-height: 24px
  Modular Scale, Georgia:
    https://www.modularscale.com/?18&px&1.778
  Modular Scale, Verdana
    https://www.modularscale.com/?15.85&px&1.778
*/
html {
  background-color: #EEE;
  color: #111;
  font-family: Georgia, "Times New Roman", Times, Roman, serif;
  font-size: 18px;
  line-height: 24px;
}

h1 {
  font-size: 32.004px;
  line-height: 36px;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

/* Accessibly hide certain elements */
.p-honorific-suffix,
.wayfinder,
#navigation h2 {
  position: absolute;
  left: -20000px;
}

/* Layout Styles */

/* Modular Styles */
#navigation {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 15.85px;
  margin-top: 6px;
}
#navigation a {
  background-color: #555;
  color: #EEE;
  display: block;
  line-height: 0;
  padding: 24px;
  text-decoration: none;
}
#navigation a:hover,
#navigation a:active,
#navigation a:focus,
#about #nav-about {
  background-color: #777;
}
#navigation li {
  margin-bottom: 6px;
}

/* State Styles */

@media screen and (min-width: 610px) {
  #navigation ul {
    display: flex;
  }
  #navigation ul > li {
    flex: 1 0 auto;
  }
}
